---
- name: Create aur_builder user
  ansible.builtin.user:
    name: aur_builder
    create_home: true
    group: wheel
  become: true

- name: Allow aur_builder to run pacman without password
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: true
    mode: 0644
    validate: 'visudo -cf %s'
  become: true

- name: Full system upgrade
  community.general.pacman:
    update_cache: true
    upgrade: true
  become: true

- name: Check yay status
  ansible.builtin.command:
    cmd: yay --version
  register: yay_check
  changed_when: false
  failed_when: false
  become: true
  become_user: aur_builder

- name: Rebuild yay if broken
  when: yay_check.rc != 0
  become: true
  become_user: aur_builder
  block:
    - name: Create temporary build directory
      ansible.builtin.tempfile:
        state: directory
        suffix: yay_build
      register: yay_build_dir

    - name: Clone yay from AUR
      ansible.builtin.git:
        repo: https://aur.archlinux.org/yay.git
        dest: "{{ yay_build_dir.path }}/yay"
        depth: 1

    - name: Build and install yay
      ansible.builtin.command:
        cmd: makepkg -si --noconfirm
        chdir: "{{ yay_build_dir.path }}/yay"

    - name: Clean up build directory
      ansible.builtin.file:
        path: "{{ yay_build_dir.path }}"
        state: absent

- name: Upgrade AUR packages
  kewlfft.aur.aur:
    upgrade: true
    use: yay
  become: true
  become_user: aur_builder

- name: Install applications via pacman
  community.general.pacman:
    name: "{{ applications_to_install }}"
    state: present
  become: true
  when: applications_to_install is defined and applications_to_install | length > 0

- name: Install AUR packages
  kewlfft.aur.aur:
    name: "{{ item }}"
    use: yay
    state: present
  loop: "{{ aur_applications_to_install }}"
  when: aur_applications_to_install is defined and aur_applications_to_install | length > 0
  become: true
  become_user: aur_builder

- name: Create icons directory for web apps
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.local/share/applications/icons"
    state: directory
    mode: '0755'
  when: webapps_to_install is defined and webapps_to_install | length > 0
  ignore_errors: true

- name: Download web app icons
  ansible.builtin.get_url:
    url: "{{ item.icon_url }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/share/applications/icons/{{ item.name }}.png"
    mode: '0644'
  loop: "{{ webapps_to_install }}"
  when: webapps_to_install is defined and webapps_to_install | length > 0
  ignore_errors: true

- name: Create web app desktop files
  ansible.builtin.copy:
    dest: "{{ ansible_facts['env']['HOME'] }}/.local/share/applications/{{ item.name }}.desktop"
    content: |
      [Desktop Entry]
      Version=1.0
      Name={{ item.name }}
      Comment={{ item.description }}
      Exec=omarchy-launch-webapp {{ item.url }}
      Terminal=false
      Type=Application
      Icon={{ ansible_facts['env']['HOME'] }}/.local/share/applications/icons/{{ item.name }}.png
      StartupNotify=true
    mode: '0644'
  loop: "{{ webapps_to_install }}"
  when: webapps_to_install is defined and webapps_to_install | length > 0
  ignore_errors: true

- name: Configure i2c-dev kernel module for ddcutil
  ansible.builtin.copy:
    dest: /etc/modules-load.d/i2c.conf
    content: |
      # Load i2c-dev module for ddcutil monitor control
      i2c-dev
    mode: '0644'
  become: true

- name: Enable Tailscale service
  ansible.builtin.systemd:
    name: tailscaled.service
    enabled: true
    state: started
  become: true

- name: Enable Mullvad VPN service
  ansible.builtin.systemd:
    name: mullvad-daemon.service
    enabled: true
    state: started
  become: true
