---
- name: Configure Hyprland monitor settings
  ansible.builtin.template:
    src: monitors.conf.j2
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/hypr/monitors.conf"
    mode: '0644'
    backup: yes
  notify: Reload Hyprland

- name: Configure keyboard layout in Hyprland input.conf
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/hypr/input.conf"
    regexp: '^\s*kb_layout\s*='
    line: '  kb_layout = {{ keyboard_layout }}'
    backup: yes
  notify: Reload Hyprland

- name: Configure keyboard variant in Hyprland input.conf
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/hypr/input.conf"
    regexp: '^\s*kb_variant\s*='
    line: '  kb_variant = {{ keyboard_variant }}'
    insertafter: '^\s*kb_layout\s*='
    backup: yes
  notify: Reload Hyprland

- name: Remove compose:caps option to restore Caps Lock functionality
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/hypr/input.conf"
    regexp: '^\s*kb_options\s*='
    line: '  kb_options ='
    backup: yes
  notify: Reload Hyprland

- name: Enable Mise shell integration in .bashrc
  ansible.builtin.lineinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.bashrc"
    line: 'eval "$(mise activate bash)"'
    create: yes
    mode: '0644'
    backup: yes
  when: enable_mise_shell_integration
