{
  "policies": {
    "ExtensionSettings": {
{% for extension in firefox_extensions %}
      "{{ extension.id }}": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/{{ extension.slug }}/latest.xpi"
      }{{ "," if not loop.last else "" }}
{% endfor %}
    },
{% if firefox_telemetry_enabled is defined %}
    "DisableTelemetry": {{ firefox_telemetry_enabled | lower }},
{% endif %}
    "DisableFirefoxStudies": true,
    "DisablePocket": true,
    "FirefoxHome": {
      "Pocket": false,
      "Snippets": false
    },
    "UserMessaging": {
      "WhatsNew": false,
      "ExtensionRecommendations": false,
      "FeatureRecommendations": false,
      "UrlbarInterventions": false,
      "SkipOnboarding": true
    }
  }
}
