---
- name: Remove bloatware packages
  community.general.pacman:
    name: "{{ bloatware_packages }}"
    state: absent
  become: true
  ignore_errors: true
  when: bloatware_packages is defined and bloatware_packages | length > 0

- name: Remove bloatware configuration files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ bloatware_files }}"
  when: bloatware_files is defined and bloatware_files | length > 0
  ignore_errors: true
