---
- name: Enable BTRFS scrub timer
  ansible.builtin.systemd:
    name: "btrfs-scrub@-.timer"
    enabled: true
    state: started
  become: true

- name: Create BTRFS balance service
  ansible.builtin.copy:
    dest: /etc/systemd/system/btrfs-balance@.service
    content: |
      [Unit]
      Description=Balance BTRFS filesystem on %f
      ConditionPathIsMountPoint=%f
      RequiresMountsFor=%f

      [Service]
      Type=oneshot
      Nice=19
      IOSchedulingClass=idle
      KillSignal=SIGINT
      ExecStart=/usr/bin/btrfs balance start -dusage=50 -musage=50 %f
    mode: '0644'
  become: true
  register: balance_service_result

- name: Create BTRFS balance timer
  ansible.builtin.copy:
    dest: /etc/systemd/system/btrfs-balance@.timer
    content: |
      [Unit]
      Description=Monthly BTRFS balance on %f

      [Timer]
      OnCalendar=monthly
      AccuracySec=1d
      RandomizedDelaySec=1w
      Persistent=true

      [Install]
      WantedBy=timers.target
    mode: '0644'
  become: true
  register: balance_timer_file_result

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
  when: balance_service_result.changed or balance_timer_file_result.changed

- name: Enable BTRFS balance timer
  ansible.builtin.systemd:
    name: "btrfs-balance@-.timer"
    enabled: true
    state: started
  become: true
